<!DOCTYPE html>

<html>

<head>

<title>About</title>
<link rel="icon" href="/img/server.png">
<link rel="stylesheet" href="/css/styles.css">

</head>


<body>
     <div class="wrapper">
        {{>header}}

         <p>This site was created by Adam Wadsworth. It was created by using mapbox and darksky API</p>
        <img class="portrait" src="/img/sucesses.jpeg">



     </div>

{{>footer}}



</body>


</html>