<!DOCTYPE html>

<html>

<head>

    <title>Weather</title>
    <link rel="icon" href="/img/server.png">

<link rel="stylesheet" href="/css/styles.css">


</head>


<body>

    <div class="wrapper">

        {{>header}}

        <p>Use this site to get your weather</p>

        <form>
        <input placeholder="location">
        <button>
         search
        </button>
       

        </form>


        <p id="Error">


        </p>

        <p id="Forecast">

            
        </p>

        <style type="text/css">
.tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
<table class="tg">
<thead>
  <tr>
    <th class="tg-0lax" id="time0">Time</th>
    <th class="tg-0lax" id="time1"></th>
    <th class="tg-0lax" id="time2"></th>
    <th class="tg-0lax" id="time3"></th>
    <th class="tg-0lax" id="time4"></th>
    <th class="tg-0lax" id="time5"></th>
    <th class="tg-0lax" id="time6"></th>
    <th class="tg-0lax" id="time7"></th>
    <th class="tg-0lax" id="time8"></th>
    <th class="tg-0lax" id="time9"></th>
    <th class="tg-0lax" id="time10"></th>
    <th class="tg-0lax" id="time11"></th>
    <th class="tg-0lax" id="time12"></th>
  </tr>
</thead>
<tbody>
  <tr>
    <td class="tg-0lax">Temp (C)</td>
    <td class="tg-0lax" id="Temp1"></td>
    <td class="tg-0lax" id="Temp2"></td>
    <td class="tg-0lax" id="Temp3"></td>
    <td class="tg-0lax" id="Temp4"></td>
    <td class="tg-0lax" id="Temp5"></td>
    <td class="tg-0lax" id="Temp6"></td>
    <td class="tg-0lax" id="Temp7"></td>
    <td class="tg-0lax" id="Temp8"></td>
    <td class="tg-0lax" id="Temp9"></td>
    <td class="tg-0lax" id="Temp10"></td>
    <td class="tg-0lax" id="Temp11"></td>
    <td class="tg-0lax" id="Temp12"></td>
  </tr>
  <tr>
    <td class="tg-0lax">% Rain</td>
    <td class="tg-0lax" id="Rain1"></td>
    <td class="tg-0lax" id="Rain2"></td>
    <td class="tg-0lax" id="Rain3"></td>
    <td class="tg-0lax" id="Rain4"></td>
    <td class="tg-0lax" id="Rain5"></td>
    <td class="tg-0lax" id="Rain6"></td>
    <td class="tg-0lax" id="Rain7"></td>
    <td class="tg-0lax" id="Rain8"></td>
    <td class="tg-0lax" id="Rain9"></td>
    <td class="tg-0lax" id="Rain10"></td>
    <td class="tg-0lax" id="Rain11"></td>
    <td class="tg-0lax" id="Rain12"></td>
  </tr>
</tbody>
</table>

    </div>
    





{{>footer}}

</body>


<script src="/js/app.js" ></script>

</html>